.App {
  text-align: center;
}

.font-face-rc {
  font-family: "RadioCanada";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 100%;
}

.App-header {
  background: #282c34;
  background: linear-gradient(45deg, rgba(0, 0, 0, 1) 0%, rgba(40, 44, 52, 1) 52%, rgba(96, 79, 75, 1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #888888;
  text-decoration: none;
}

.link:hover,
.App-link:hover {
  color: #ff5833c4;
}

.link:active,
.App-link:active {
  color: #ff583372;
}

.App-link {
  color: #888888;
  font-size: 0.9em;
  padding: 1em;
}

p {
  color:#d5d5d5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

p {
  padding-left: 1em;
  padding-right: 1em;
  max-width: 30em;
}
